@media (max-width: 768px) {
  ul {
    display: none;
  }
  ul > li {
    display: none;
  }
  #containerLogoImage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  #containerLogoImage > img {
    width: 60%;
  }

  /* #menuSandwich {
    display: block;
  }
  #menuSandwich > button {
    background-color: transparent;
    border: none;
  } */
  /* .icon {
    width: 40px;
    height: 40px;
    fill: white;
  } */
  #hero {
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
  }
  #introduccionFija {
    position: block;
    align-items: center;
    grid-row: 2;
    grid-column: 1;
    max-width: 90%;
  }
  #introduccionFija > h1 {
    text-align: center;
  }

  #imagenHero {
    grid-row: 1;
    grid-column: 1;
  }
  #imagenHero > img {
    width: 100%;
    justify-self: center;
    align-self: center;
  }
  #stackPrincipalContenedor {
    grid-row: 3;
    grid-column: 1;
  }
  #introduccionFija {
    align-self: center;
    width: 100%;
  }
  #introduccionFija > p {
    align-self: center;
  }
  #introduccionFija > h1 {
    font-size: 3rem;
  }
  #introduccionFija > p {
    font-size: 1rem;
  }
  #btnContactMeHero {
    width: 90%;
  }
  .tarjetaProyecto {
    width: auto;
    min-width: 80%;
    max-width: 90%;
  }
  #tituloAboutMe {
    text-align: center;
  }
  #containerLaboralExperience {
    grid-template-columns: repeat(1, 1fr);
  }
  #experienceSection > h1 {
    font-size: 3rem;
  }
  #modalContactForm > h1 {
    font-size: 3rem;
  }
  #containerContactMe {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .comunicationChannels > ul > li {
    color: white;
  }
  #certificates > h1{
    font-size: 3rem;
  }
}
