@media (max-width: 768px) {
  ul > li {
    display: none;
  }
  #containerLogoImage {
    width: 50%;
  }
  #containerLogoImage > img {
    width: 100%;
  }
  #menuSandwich {
    display: block;
  }
  #menuSandwich > button {
    background-color: transparent;
    border: none;
  }
  .icon {
    width: 40px;
    height: 40px;
    fill: white;
  }
  #hero {
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
  }
  #introduccionFija {
    position: block;
    grid-row: 2;
    grid-column: 1;
  }
  #imagenHero {
    grid-row: 1;
    grid-column: 1;
  }
  #imagenHero > img {
    width: 100%;
    justify-self: center;
    align-self: center;
  }
  #stackPrincipalContenedor {
    grid-row: 3;
    grid-column: 1;
  }
  #introduccionFija {
    align-self: center;

    width: 90%;
  }
  #introduccionFija > h1 {
    font-size: 3rem;
  }
  #introduccionFija > p {
    font-size: 1rem;
  }
  #btnContactMeHero {
    width: 90%;
  }
}
