@media (max-width: 768px) {
  ul > li {
    display: none;
  }
  #containerLogoImage {
    width: 50%;
  }
  #containerLogoImage > img {
    width: 100%;
  }
  #menuSandwich {
    display: block;
  }
  #menuSandwich > button {
    background-color: transparent;
    border: none;
  }
  .icon {
    width: 40px;
    height: 40px;
    fill: white;
  }
}
