/* Ajustes generales */
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #e63946;
}
li {
  list-style: none;
  font-family: var(--font-primary);
  font-weight: 600;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Header */
header {
  width: 100%;
  height: 15vh;
  position: sticky;
  inset: 0;
  z-index: 99;
}
header > nav {
  width: 100%;
  min-height: 15vh;
  background-color: #0b0b0f;
  justify-content: space-between !important;
}
#containerLogoImage {
  width: 30%;
  height: 15vh;
  object-fit: cover;
}
#containerLogoImage > img {
  width: 35%;
  height: 100%;
}
header > nav > ul {
  width: 30%;
  height: 15vh;
  justify-content: space-around !important;
}
#menuSandwich {
  display: none;
}
/* H - E - R - O */
#hero {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: linear-gradient(to bottom, #0b0b0f, #1c243d);
  position: relative;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#introduccionFija {
  position: absolute;
  top: 10vh;
  left: 4vh;
  width: 40%;
}
#introduccionFija > h1 {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 5rem;
}
#introduccionFija > p {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.5rem;
}
#imagenHero {
  grid-column: 2;
  height: auto;
}
#imageHero > img {
  width: 100%;
  height: 85vh;
}
#stackPrincipalContenedor {
  grid-column: 3;
}
#btnContactMeHero {
  margin-top: 1rem;
  background-color: #e63946;
  color: white;
  font-family: var(--font-primary);
  font-weight: bold;
  border-radius: 20px;
  border: none;
  width: 50%;
  height: 10vh;
  font-size: 2rem;
}

#btnContactMeHero:hover {
  cursor: pointer;
  background-color: #b42e39;
}

#stackPrincipalContenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.imagenStackPrincipal {
  width: 100%;
  height: auto;
  align-self: center;
}
